@font-face {
  font-family: 'Segment7Standard';
  src: url("Segment7Standard.otf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffcf6;
  background-size: 28px 28px;
  background-image: repeating-linear-gradient(0deg, #bbb3ad, #bbb3ad 1.4px, #fffcf6 1.4px, #fffcf6);
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
  width: 220px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 25px;
  background-color: #3c3836;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#display {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  width: 190px;
  padding-right: 10px;
  background-color: #fbf1c7;
  color: #1d2021;
  padding-top: 7px;
  outline: 3px solid #282828;
  border-radius: 5px;
  font-size: 2.4em;
  font-family: "Segment7Standard";
}

#btnGrid {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  width: 250px;
  gap: 5px;

  /* disable text selection with click-and-drag */
  /* Safari */
  -webkit-touch-callout: none;
  /* Chrome */
  -webkit-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  user-select: none;
}

.btnRow {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background-color: #282828;
  color: #ebdbb2;
}

.btn:active {
  transform: scale(0.95);
  background-color: #1d2021;
}

.btnRowTop {
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 0.9em;
}

.btnRowTop>.btn {
  width: 100px;
}

#clear {
  color: #cc241d;
}

#delete {
  color: #d79921;
}
